<div class="sidebar">
  <div class="imgdiv">
      <img src="https://t4.ftcdn.net/jpg/04/76/29/29/360_F_476292980_HNzwvywfjviFsPCoE1g1BQECVZ7yqc6I.jpg" alt="" width="160px" height="160px">
  </div>
  <div class="link">
      <h1>Harpreet Singh</h1>
      <ul>
          <li (click)="link.homef()"><a>Home</a></li>
          <li (click)="link.aboutf()"><a>About Me</a></li>
          <li (click)="link.servicef()"><a>What I Do</a></li>
          <li (click)="link.resumef()"><a>Resume</a></li>
          <li (click)="link.reviewf()"><a>Testimonial</a></li>
          <li (click)="link.contactf()"><a>Contact</a></li>
      </ul>
  </div>
  <div class="logo">
      <div class="row">
          <a href=""><i class="lab la-twitter"></i></a>
          <a href=""><i class="lab la-linkedin-in"></i></a>
          <a href=""><i class="lab la-github"></i></a>
          <a href=""><i class="lab la-instagram"></i></a>
      </div>
  </div>
</div>
