<section class="testimonal">
<div class="container">
  <div class="heading">
      <h1>Testimonal
      </h1>
      <p>Client Speaks</p>
  </div>
  <div class="row">
      <div class="col-6">
          <img src="https://harnishdesign.net/demo/react/simone/demo/images/testimonial/client-sm-3.jpg"
              alt="" class="client-image">
          <div class="client">
              <h3 class="client-name">Dennis jacques</h3>
              <p class="client-para1">User from USA</p>
          </div>
          <p class="out-para">"Only trying it out since a few days. But up to now excellent. Seems to work
              flawlessly.
              priced simply dummy
              text of the printing and typesetting industry"</p>
          <p class="para-icon">⭐⭐⭐⭐⭐</p>
      </div>
      <div class="col-6">
          <img src="https://harnishdesign.net/demo/react/simone/demo/images/testimonial/client-sm-3.jpg"
              alt="" class="client-image">
          <div class="client">
              <h3 class="client-name">Dennis jacques</h3>
              <p class="client-para1">User from USA</p>
          </div>
          <p class="out-para">"Only trying it out since a few days. But up to now excellent. Seems to work
              flawlessly.
              priced simply dummy
              text of the printing and typesetting industry"</p>
          <p class="para-icon">⭐⭐⭐⭐⭐</p>
      </div>
  </div>
</div>
</section>
