
  <section class="contact">
    <div class="container">
      <div class="heading">
          <h1>Contact
          </h1>
          <p class="">Know More</p>
      </div>
      <div class="row">
          <div class="col-4">
              <div class="address_div">
                  <h2 class="add_heading">Address
                  </h2>
                  <div>
                      <p class="address">142-A,Part 3,Near Neele di Chakki, Mithapur, Jalandhar</p>
                      <p class="contact-1"><i class="las la-phone-volume"></i> +91 9876624565</p>
                      <p class="contact-2"><i class="las la-phone-volume"></i> +91 9988173271</p>
                      <p class="email"><i class="las la-at"></i> Harpreet@gmail.com</p>
                      <h2 class="follow_heading">Follow Me</h2>
                      <div class="row">
                          <div class="row_logo">
                              <div class="logo">
                                  <a href=""><i class="lab la-twitter"></i></a>
                                  <a href=""><i class="lab la-linkedin-in"></i></a>
                                  <a href=""><i class="lab la-github"></i></a>
                                  <a href=""><i class="lab la-instagram"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-8">
              <div class="form-div">
                  <h2 class=" add_heading">Send us a note
                  </h2>
                  <form>
                      <div class="row">
                          <div class="col-6">
                              <input type="text" name="Name" id="name" placeholder="Name">
                          </div>
                          <div class="col-6">
                              <input type="email" name="Name" id="name" placeholder="Email">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                              <textarea placeholder="Tell us more about your needs...."
                                  id="message"></textarea>
                          </div>
                      </div>
                      <div class="row">
                          <input id="submit-btn" type="submit" value="Send Message">
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </section>



