
<div class="login">
  <h1>Login Form</h1>
    <form [formGroup]="loginform" (ngSubmit)="login()">
        <label for="email">E-mail:</label>
        <input class="slot" type="email" id="email" placeholder="Enter Email" formControlName="email">
        <span style="color:blue;" *ngIf="email && email.invalid && email.touched ">*Invalid Email</span>
        <label for="password">Password: </label>
        <input class="slot" type="password" id="password" placeholder="Enter Password" formControlName="password" ><br>
        <span style="color:blue;" *ngIf="password && password.invalid && password.touched">*Password is not proper length</span>
        <p>
        <button type="submit" [disabled]="loginform.invalid" routerLink="/dashboard">Login</button></p>
    </form>
</div>
