<section class="about">
    <div class="container">
      <div class="heading">
          <h1>About ME
          </h1>
          <p>Know Me More</p>
      </div>
      <div class="row">
          <div class="col-7">
              <h2>I'm <span>Harpreet Singh,</span> a Web Developer</h2>
              <p>I help you build brand for your business at an affordable price. Thousands of clients have
                  procured exceptional results while working with our dedicated team. when an unknown printer
                  took a galley of type and scrambled it to make a type specimen book.
                  <br><br>
                  Delivering work within time and budget which meets client’s requirements is our moto. Lorem
                  Ipsum has been the industry's standard dummy text ever when an unknown printer took a
                  galley.
              </p>
          </div>
          <div class="col-5">
              <div class="bio">
                  <ul>
                      <li><span>Name:</span> Harpreet Singh</li>
                      <li><span>Email:</span> Harpreet@gmail.com</li>
                      <li><span>Age:</span> 28</li>
                      <li><span>From:</span> Jalandhar, India</li>
                  </ul>
                  <a>Download CV</a>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col-3">
              <h4><span>10</span>+</h4>
              <p>Year Experience</p>
          </div>
          <div class="col-3">
              <h4><span>250</span>+</h4>
              <p>Happy Clients</p>
          </div>
          <div class="col-3">
              <h4><span>650</span>+</h4>
              <p>Project Done </p>
          </div>
          <div class="col-3">
              <h4><span>38</span>+</h4>
              <p>Get Awards</p>
          </div>
      </div>
</div>
  </section>





