
  <section class="service">
    <div class="container">
      <div class="heading">
          <h1>Services
          </h1>
          <p>What I do</p>
      </div>
      <div class="row">
          <div class="col-6">
              <div class="left">
                  <i class="las la-palette"></i>
              </div>
              <div class="right">
                  <h3>Graphics Design</h3>
                  <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                      iriure.</p>
              </div>
          </div>
          <div class="col-6">
              <div class="left">
                  <i class="las la-desktop"></i>
              </div>
              <div class="right">
                  <h3>Web Design</h3>
                  <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                      iriure.</p>
              </div>
          </div>
          <div class="col-6">
              <div class="left">
                  <i class="lab la-sketch"></i>
              </div>
              <div class="right">
                  <h3>UX/ UI Design</h3>
                  <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                      iriure.</p>
              </div>
          </div>
          <div class="col-6">
              <div class="left">
                  <i class="las la-code"></i>
              </div>
              <div class="right">
                  <h3>App Design & Develop</h3>
                  <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                      iriure.</p>
              </div>
          </div>
          <div class="col-6">
              <div class="left">
                  <i class="las la-business-time"></i>
              </div>
              <div class="right">
                  <h3>Business Analysis</h3>
                  <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                      iriure.</p>
              </div>
          </div>
          <div class="col-6">
              <div class="left">
                  <i class="las la-trademark"></i>
              </div>
              <div class="right">
                  <h3>SEO Marketing</h3>
                  <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                      iriure.</p>
              </div>
          </div>
      </div>
    </div>
  </section>












