
  <section class="about">
    <div class="container">
      <div class="heading">
          <h1>Summary
          </h1>
          <p>Resume</p>
      </div>
      <div class="row">
          <div class="col-6">
              <div class="content">
                  <h2>My Education</h2>
                  <div class="card">
                      <div class="card-content">
                          <p class="para1">2000-2000</p>
                          <h3>Computer Science</h3>
                          <p class="para2">International University</p>
                          <p class="para3">Lisque persius interesset his et, in quot quidam persequeris vim,
                              ad mea essent possim iriure.</p>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-content">
                          <p class="para1">2000-2000</p>
                          <h3>Computer Science</h3>
                          <p class="para2">International University</p>
                          <p class="para3">Lisque persius interesset his et, in quot quidam persequeris vim,
                              ad mea essent possim iriure.</p>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-content">
                          <p class="para1">2000-2000</p>
                          <h3>Computer Science</h3>
                          <p class="para2">International University</p>
                          <p class="para3">Lisque persius interesset his et, in quot quidam persequeris vim,
                              ad mea essent possim iriure.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-6">
              <div class="content">
                  <h2>My Experience</h2>
                  <div class="card">
                      <div class="card-content">
                          <p class="para1">2000-2000</p>
                          <h3>Computer Science</h3>
                          <p class="para2">International University</p>
                          <p class="para3">Lisque persius interesset his et, in quot quidam persequeris vim,
                              ad mea essent possim iriure.</p>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-content">
                          <p class="para1">2000-2000</p>
                          <h3>Computer Science</h3>
                          <p class="para2">International University</p>
                          <p class="para3">Lisque persius interesset his et, in quot quidam persequeris vim,
                              ad mea essent possim iriure.</p>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-content">
                          <p class="para1">2000-2000</p>
                          <h3>Computer Science</h3>
                          <p class="para2">International University</p>
                          <p class="para3">Lisque persius interesset his et, in quot quidam persequeris vim,
                              ad mea essent possim iriure.</p>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <h3 class="myskill_heading">My Skills</h3>
      <div class="row">
          <div class="col-6 skills">
              <p>Web Design <span>65%</span></p>
              <div class="bar bar1"></div>
          </div>
          <div class="col-6 skills">
              <p>HTML/CSS <span>95%</span></p>
              <div class="bar bar2"></div>
          </div>
          <div class="col-6 skills">
              <p>Javascript<span>80%</span></p>
              <div class="bar bar3"></div>
          </div>
          <div class="col-6 skills">
              <p>React Js <span>70%</span></p>
              <div class="bar bar4"></div>
          </div>
          <div class="col-6 skills">
              <p>Angular Js<span>60%</span></p>
              <div class="bar bar5"></div>
          </div>
          <div class="col-6 skills">
              <p>Bootstrap<span>99%</span></p>
              <div class="bar bar6"></div>
          </div>
          <a>Download CV <i class="las la-cloud-download-alt"></i></a>
      </div>
    </div>
  </section>







